.enhanced-image {
  background: rgba(0,0,0,.2) no-repeat center;
  background-image: svg-uri('<path d="M416 448h-320v-64l96-160 131.5 160 92.5-64v128zM416 240c0 26.5-21.5 48-48 48-26.5 0-48-21.5-48-48s21.5-48 48-48c26.5 0 48 21.5 48 48zM458.9 114.5c-11.1-15.1-26.6-32.8-43.6-49.9s-34.7-32.5-49.9-43.6c-25.8-18.9-38.3-21.1-45.5-21.1h-248c-22.1 0-40 17.9-40 40v432c0 22.1 17.9 40 40 40h368c22.1 0 40-17.9 40-40v-312c0-7.2-2.2-19.7-21.1-45.5zM392.7 87.3c15.4 15.4 27.4 29.2 36.3 40.7h-77v-77c11.5 8.9 25.3 20.9 40.7 36.3zM448 472c0 4.3-3.7 8-8 8h-368c-4.3 0-8-3.7-8-8v-432c0-4.3 3.7-8 8-8 0 0 248 0 248 0v112c0 8.8 7.2 16 16 16h112v312z"/>', #aaa, 512, 512);
  background-size: 4.8rem;
  position: relative;
  overflow: hidden;

  &__img {
    @include scut-absolute;
    width: 100%;
  }
}
