.container {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &__column {
    transition: all .2s ease-in;
    position: relative;
    min-height: 1px;
  }
}
