.hexa {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin-right: 20px;

  &__before,
  &__after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    overflow: hidden;
    backface-visibility: hidden;

    &:before {
      width: 113.5%;
      height: 200%;
      content: '';
      position: absolute;
      top: -85%;
      left: 28%;
      z-index: 1;
      background: inherit;
    }
  }

  &__before {
    transform: rotate(60deg);
    z-index: -1;

    &:before {
      transform: rotate(-60deg) translate(-100%, 0);
      transform-origin: 0 0;
    }
  }

  &__after {
    transform: rotate(-60deg);
    z-index: -2;

    &:before {
      transform: rotate(60deg) translate(0.3%, 34.3%);
      bottom: 0;
    }
  }
}
