.material-form {
  position: relative;
  margin-top: 1.2rem;

  &__field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 0;
    padding: 1.6rem 0 1.2rem;
    transition: border-bottom .3s;
    display: block;
    width: 100%;
    height: 4.9rem;
    overflow: hidden;
    line-height: 1;
    position: relative;
    z-index: 1;
  }

  textarea {
    resize: none;
    overflow: hidden;
    line-height: 1.25;
  }

  &__label {
    @include scut-absolute(1.2rem n n n);
    transition: .2s ease-out;
    cursor: text;
  }

  &__hint {
    font-size: 1.2rem;
  }
}
