.navbar {
  background-color: rgba(#fff, .9);
  padding: 0 12px;
  box-shadow: 0 1px 2px rgba(#000, .1);

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav {
  @include scut-list-inline;

  &__item {
    padding: 12px 24px;

    > a {
      text-decoration: none;
    }
  }
}
