table {
  border-collapse: collapse;
  width: 100%;

  th {
    border-bottom: 2px solid #e0e0e0;
    text-align: left;
    padding: .8rem;
  }

  td {
    border-bottom: 1px solid #e0e0e0;
    padding: .8rem;
  }
}
