html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: (2.4/1.6);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

img {
  max-width: 100%;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
